@charset "utf-8";
/* CSS Document */
#main{
	background-color: azure;
	margin: 5px;
}
#banner{
	background-color: blue;
	color: white;
	height: 100px;
}
#menu{
	background-color: aqua;
	height: 20px;
	margin-top: 3px;
}
#left{
	float: left;
	background-color: bisque;
	width: 200px;
	min-height: 500px;
}
#right{
	float: right;
	background-color: bisque;
	width: 150px;
	min-height: 500px;
}
#footer{
	clear: both;
	background-color: blue;
	color: white;
	height: 50px;
}
